/* CustomNavbar.module.css */

/* Set a fixed height for the navbar */
.customNavbar {
    height: 56px; /* Adjust this value as needed */
    display: flex;
    align-items: center;
}

/* Styles for the expanded navbar in mobile view */
/* In your CSS module (e.g., CustomNavbar.module.css) */
.navbarCollapse {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}


/* Styles for the links */
.navLink {
    color: #333; /* Default link color */
    padding-right: 1rem;
}

.navLink:hover {
    color: #007bff; /* Hover color */
}

/* Ensure the Login button and user dropdown have the same height */
.loginButton,
.dropdownToggle {
    height: 36px; /* Adjust this value to match your design */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem; /* Adjust padding to match your design */
}

.loginButton {
    border-color: #B1D289;
}

.loginButton:hover {
    border-color: #B1D289;
    background-color: #B1D289;
}

/* Ensure the profile picture in the dropdown is properly sized */
.profilePic {
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    border-radius: 50%;
    margin-right: 8px;
}


